@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#counter{
  display: flex;
  flex-wrap: wrap;
  border: solid 3px rgb(77, 126, 126);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px
}

#counter > p {
  font-size: 3rem;
  height: auto;
  color: rgb(77, 126, 126);
  text-align: center;
  padding: 0 20px;
  margin: 10px 30px;
  font-family: sans-serif;
}

#buttonsCounter{
  display: flex;
  flex-direction: column;
}

#buttonsCounter >  button {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: rgb(77, 126, 126);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgb(77, 126, 126);
  background: transparent;
  box-shadow: 3px 3px rgb(77, 126, 126);
  cursor: pointer;
  margin: 10px 0;
}


#buttonsCounter > button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
        